@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light;
  overflow: hidden;
}

html.dark {
  color-scheme: dark;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  @apply text-black/85 dark:text-white/85;
  @apply font-sans antialiased;
  @apply bg-stone-100 dark:bg-stone-900;
}

article ul {
  list-style: circle;
  @apply ml-6;
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}
