@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light;
  overflow: hidden;
}

html.dark {
  color-scheme: dark;
}

html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

body {
  position: relative;
  height: 100svh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  @apply text-black/85 dark:text-white/85;
  @apply font-sans antialiased;
  @apply bg-stone-100 dark:bg-stone-900;
}

article {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

article .astro-code {
  padding: 8px 12px;
  border-radius: 12px;
}

article a {
  text-decoration: underline;
}

article h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin-top: 12px 0;
}

article h1 {
  @apply text-3xl;
}

article h2 {
  @apply text-2xl;
}

article h3 {
  @apply text-xl;
}

article h4 {
  @apply text-lg;
}

article ul {
  list-style: circle;
  @apply ml-6 pb-2;
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  opacity: 1;
  @apply translate-y-0;
}
