---
import Container from '@components/Container.astro';
import { SITE } from '@consts';
---

<footer class="animate py-5 text-sm">
  <Container>
    <div class="flex justify-between items-center">
      <div>
        &copy; 2024 {`|`}
        {SITE.name}
      </div>
    </div>
  </Container>
</footer>
